.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.scroller {
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.horizontal {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    
    .content {
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: inherit;
    }
}

.vertical {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    
    .content {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    
    + .container {
        mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    }
}

.content {
    gap: inherit;
} 